include ../partials/head

.container
  .album-title-contain 
    h1 #{view.albumTitle}
  .add-review-contain 
    p(id='error') 
    h2 Reviews 
    a(href='/reviews/' + view.albumID + '/reviews/new')
      button.btn.btn-success Add New Review
  .review-container 

script(src='/script.js')
      

include ../partials/footer
