include ../partials/head

.container.profile-contain
  .profile-info-contain
    .profile-img-contain 
    .profile-info 
      h2 Welcome #{username}
script(src='/script.js')

include ../partials/footer
