include ../partials/head

.container.login-container
  h1 Sign Up
  form.login-form(method='POST' action='/sign-up')
    input.form-control(name='name' type='text' placeholder='name')
    input.form-control(name='email' type='text' placeholder='email' )
    input.form-control(name='password' type='password' placeholder='password')
    input.btn(type='submit')
    h6 #{error}

include ../partials/footer
